/* Styles used for styling the Highcharts graphs */
.controls table {
    width: 100%;
}

.controls table .col1{
    width: 50%;
}

.controls table .col2{
    width: 50%;
}

.controls table td {
    vertical-align: top;
}

.controls table .controls td {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;

}

.controls table #tx-debugoutput,
.controls table .code  {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.controls table .selector .col2 ul {
    padding-left: 20px;
}

.controls table .selector .col2 ul li {
    margin-bottom: 3px;;
}


.placeholder {
	border: 1px solid rgba(255, 0, 0, .5);
}
.chart-content {
	position: relative;
    background-repeat: no-repeat;
}
.fallback:before, .placeholder:before {
	content: 'Work in progress';
    font-size: 20px;
    font-family: arial;
    bottom: 0;
    position: absolute;
    right: 5px;
    color: #fff;
    text-shadow: 2px 2px 10px #000;
	transform: rotate(-45deg) translate(30%, -100%);
	z-index: 10;
}
div.chart-wrapper table {
    display: none;
}
body,
div.table-wrapper {
    margin: 0!important;
}
div.illustration {
    margin: 0!important;
}
div.illustration div.tablegraph-header-wrapper {
    display: none;
}