**/.DS_Store
**/.dockerignore
**/.eslintrc
**/.sass-lint.yml
**/.vscode

DocumentStore/[Oo]bj/
DocumentStore/[Bb]in/

typings.json
jsconfig.json
gulpfile.js
gulp/
Dockerfile
node_modules/
typings/
bin/
obj/
DocumentStore/logs/**/*.xml
DocumentStore/logs/**/*.txt
DocumentStore/logs/**/*.log
DocumentStore/logs/**/*.json
*.xpr
data/
node_modules
package.json
package-lock.json
*.sh
!entrypoint*.sh

taxxor_architecture.png
*.md
rsync-ssh-config
*.code-workspace


#
# GIT repositories
#

# => main repository
.git
.vs

**/.gitignore
**/*.xpr
**/*.md
*.txt

global.json

**/packages.lock.json