**/.DS_Store
**/.dockerignore
**/.eslintrc
**/.sass-lint.yml
**/.vscode
typings.json
jsconfig.json
package.json
package-lock.json
gulpfile.js
gulp/
Dockerfile
node_modules/
typings/
.gitinclude
.vs
*.sh
!entrypoint*.sh

TaxxorEditor/[Oo]bj/
TaxxorEditor/[Bb]in/
CustomerCodeInterface/[Oo]bj/
CustomerCodeInterface/[Bb]in/

#
# GIT repositories
#

# => main repository
.git
.gitmodules

# => customizations
TaxxorEditor/frontend/public/custom/.git
TaxxorEditor/backend/code/custom/.git

# => editors
TaxxorEditor/frontend/public/report_editors/dafault_filing/.git
TaxxorEditor/frontend/public/report_editors/philips-quarterly-report/.git
TaxxorEditor/frontend/source/
TaxxorEditor/frontend/public/report_editors/default_filing/xopus/resources/dictionaries/
TaxxorEditor/frontend/public/publications
TaxxorEditor/frontend/public/custom
TaxxorEditor/frontend/public/validation
TaxxorEditor/frontend/devpackages
TaxxorEditor/frontend/public/outputchannels/**/*
TaxxorEditor/frontend/public/filemanager/_content

#
# Log files
#
TaxxorEditor/logs/**/*.xml
TaxxorEditor/logs/**/*.txt
TaxxorEditor/logs/**/*.json
TaxxorEditor/logs/**/*.log


TaxxorEditor/data/sandbox
TaxxorEditor/data/temp/*.xlsx
TaxxorEditor/data/temp/*.xml

**/.gitignore
**/*.xpr
**/*.md
*.txt

global.json
*.md
*.code-workspace


**/packages.lock.json



TaxxorEditor/secrets